.name{
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
  margin-right: 5px;
}

.nameLegend {
  font-size: 15px;
  text-align: left;
  padding-left: 20px;
}

:host .nameFieldSet {
  margin-top: 10px;
  border: 5em;
  border-color: black;
  text-align: center;
}
